@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*
{
    margin: 0;
    padding: 0px;
}

body
{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: 'Raleway', sans-serif;
    background-color: bisque;
}

a
{
    color: rgb(78, 107, 162);
    text-decoration: none;
    font-weight: bold;
}

form
{
    display: flex;
    flex-direction: column;
    width: 350px;
}

input
{
    margin: 10px 0;
    padding: 10px ;
    border: unset;
    border-radius: 10px;
}

button
{
    padding: 10px;
    color: wheat;
    background-color: blue;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
}

p
{
    margin: 10px 0;
}

.msg
{
    padding: 10px;
    border: 2px solid #ffa988;
    text-align: center;
    font-size: bold;
}
